<div class="task-details-container">
  <button mat-button class="back-button" (click)="closeDialog()">
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </button>

  <div class="task-card">
    <h1 class="task-title">{{ taskTitle }}</h1>

    <div class="task-status">
      <mat-chip
        [class.chip-done]="status === statuses.DONE"
        [class.chip-pending]="status === statuses.PENDING"
        [class.chip-in-progress]="status === statuses.IN_PROGRESS"
        >{{ status }}</mat-chip
      >
    </div>

    <p class="task-description">
      {{ description }}
    </p>

    <p class="task-created">
      Created on {{ data.createdDate | date : "MMMM d, y, h:mm a" }}
    </p>

    <div class="task-actions">
      <button mat-button class="edit-btn" (click)="openEditDialog()">
        Edit
      </button>
      <button mat-button class="delete-btn" (click)="openDeleteDialog()">
        Delete
      </button>
    </div>
  </div>
</div>
