.parent {
  padding: 20px !important;
}

.full-width {
  width: 100%;
}

mat-dialog-content {
  padding: 0;
  overflow: hidden;
  max-height: none;
}

.mat-mdc-dialog-container {
  overflow: visible !important;
}

.cancel-btn {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  color: #374151;
  border-radius: 8px;
}

.save-btn {
  background: #2563eb;
  color: white;
  border-radius: 8px;
  font-weight: 500;
}

textarea {
  resize: none;
  height: 80px;
}

input,
textarea {
  min-height: 10px;
}
